button {
    padding: 12px;
    color: white;
    background-color: rgb(27, 7, 7) !important;
    cursor: pointer;
    font-size: 18px;
}

input {
    border: 1px solid rgba(128, 128, 128, 0.382);
    padding: 4px;
    text-align: center;
    font-size: 18px;
}

.form-signin {
    margin-top: 10%;
    margin-left: 40%;
    /* margin-right: 40%; */
    width: 250px;
    text-align: center;
    padding: 4%;
    background-color: whitesmoke;
}

@media screen and (max-width: 620px) {
    .form-signin {
        margin-top: 10%;
        margin-left: 20%;
        /* margin-right: 20px; */
        text-align: center;
        /* width: 250px; */
        background-color: whitesmoke;
    }
    .text-center {
        text-align: center;
    }
}